/********************
*       Fields      *
********************/

form .pagination{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	text-align: center;
}

form .pagination ul>.active>a,
form .pagination ul>.active>span{
  color:white;
  font-weight: bold;
  background-color: #08c;
}

form .pagination ul>.active>a:hover,
form .pagination ul>.active>span:hover{
  color:white;
  font-weight: bold;
  background-color: #0399E4;
}

.pagination .disabled span,
.pagination .disabled > span:hover,
.pagination .disabled > span:focus,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus{
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/*form .BSPickerCriteria{
	border-right: solid 1px #E3E3E3;
}*/
form .BSPickerCriteria .modal-footer{
	background-color: transparent;
	border-top: 0;
}

.BSPickerCriteria .input-date {
  width: 100%;
}