.CoveredChoices{
  display: table !important;
  width: 100%;
}

ul li:not(:first-child) .CoveredChoices{
  border-top: 2px solid #ddd;
}

.CoveredChoices ul, .CoveredChoices li{
  list-style-type: none;
 }
 
.CoveredChoices .Covered {
  text-align: center;
  vertical-align: middle !important;
  padding: 5px;
  background-color: #F3F3F3;
  float: none !important;
  display: table-cell !important;
  width: 150px !important;
  font-weight: bold;
 }
 
.CoveredChoices .Choices {
  margin-left: 0 !important;
  float: none !important;
  display: table-cell !important;
  vertical-align: middle !important;
  padding-left: 5px;
 }
 
 .CoveredChoices .Choices ul{
  margin: 0 !important;
  padding-left: 5px;
  }
  
.CoveredChoices .NoChoices {
  padding: 5px;
}