#ContactKindWrapper{
	float: left;
	width: 50%;
}

#DateOfContactWrapper{
	float: left;
	width: 50%;
}

#TimeOfContact{
	width: 88px;
}

#DateOfContact{
	width: 87px;
}

#Name{
	width: 100%;
}

#ContactText{
	width: 100%;
	height: 250px;
}

