#PasswordChangeConfirmationWrapper {
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#PasswordChangeConfirmationWrapper .action {
  margin-top: 10px;
}

#PasswordChangeConfirmationWrapper #Login {
  width: 30em;
}
