<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="GSP" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="D:\Wynsure57-2\Wynsure\inetpub\GSP_WS\GSP.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
		<staticContent>
		    <remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			</staticContent>
	</system.webServer>
</configuration>
