div#PortalLogoWrapper {
  margin-top: 45px;
  float: left;

}
div#PortalLogo, div#ClientLogo, div#BrokerLogo, div#GroupAdminLogo {
	width: 190px;
	height: 63px;  
}
div#PortalLogo a, div#ClientLogo a, div#BrokerLogo a, div#GroupAdminLogo a{
	float: left;
  	z-index: 0;
	width: 157px;
	height: 63px;
}

div#LogoForLicense a{
	width: 700px;
	height: 63px;
	float: left;
  	z-index: 0;
}
div#PortalLogo a {
	background: url("../Wyde/logo.png") no-repeat scroll 0 0 transparent;	
}

div#LogoForLicense a {
	background: url("../Wyde/logo2.png") no-repeat scroll 0 0 transparent;	
}

div#ClientLogo a {
	background: url("../Wyde/LogoClient.png") no-repeat scroll 0 0 transparent;
}
div#BrokerLogo a {
	background: url("../Wyde/LogoBroker.png") no-repeat scroll 0 0 transparent;
}
div#GroupAdminLogo a {
	background: url("../Wyde/LogoGroupAdmin.png") no-repeat scroll 0 0 transparent;
}