body {
	display: block;
	visibility: visible;
	margin: 0 auto;
	-text-align: center;
	background: url("../images/bkg_body.png") repeat-x fixed 0% 100% #EFEFEF;
}

#ErrorFixerWrapper{
	padding-top:5px;
}

#PortalWrapper {
  display: block;
  clear: both;
	width: 100%;
	-text-align: left;
}
#LeftPanelWrapper {
  float: left;
  width: auto;
  display: block;
  padding-top:7px;
}
#MiddlePanelWrapper {
	margin: 0 auto;
  width: 1084px;
  clear: both;
  padding-top: 0px;  
}
#CenterPanelWrapper {
  height: 100%;
  margin-left: 185px;
  min-width: 836px;
  width: auto;
}
#PageContent, .ErrorFixer {
  width: 685px;
}
#PageContent {
  /*margin-bottom: 4em;*/
}
#RightPanelWrapper {
  float: right;
  height: 100%;
  width: 200px;
  margin-right: 5px;
}
#MiddlePanelWrapper {
  min-height: 600px;
}
#TopPanelWrapper {
  height: 122px;
  width: 100%;
  position: relative;
  background: url("../images/bkg_PortalHeader.png") repeat-x scroll 0 100% #585858;
}
#BottomPanelWrapper {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}
div.full-path {
  margin: 0 auto;
  width: 1084px;
}
/************************/
/* Common Portal styles */
/************************/
.clear {
	clear: both;
}
.nowrap table {
    white-space: nowrap;
}
ul {
	padding-left: 2em;
	margin: 0;
}
.margin1 {
	margin: 0.5em;
}
.padding1 {
	padding: 0.5em;
}
.hSeparator {
	clear: both;
	border-bottom: 1px dotted black;
	margin: 5px 10% 5px 10%;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
  text-align: left;
}
.maxWidth {
	width: 100%;
}
.hidden, .toButtonPane {
	display:none;
}
/***************/
/* Portal misc */
/***************/
body, .ui-widget {
  font: 12px "Trebuchet MS", sans-serif;
}
body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 80%;
	-font-size: 100.01%;
}
#PortalContent {
	vertical-align: top;
}
/* hel : don't see where used
/*.action {
	padding: 1em 0 1em 0;
}*/
.ErrorFixer .IconMessage {
  float: left;
}
.ErrorFixer {
	padding: 0.5em;
	margin: 0 0 0.5em 0;
	width: 671px;
}
.ErrorFixer ul {
	list-style: none;
	padding-left: 0;
}
.ErrorFixer li {
	height: 16px;
}
.error-wrapper {
  position:relative;  
  text-decoration:none;
  display:inline; 
}
.error-wrapper span.ui-state-error {
  display: none
}
  
.wrapper-hover span.ui-state-error { 
	background: #CD0A0A;	
	display:block; 
	position:absolute;
	top:-23px;
	left : 0px;
	width:20em;  	
	color:white;
	text-align: justify;
	padding-left:2px;
	padding-right:2px;
	z-index : 1000;
	border-radius: 5px 5px 5px 0px;	
}
.wrapper-hover span.ui-state-error:after, .wrapper-hover span.ui-state-error:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.wrapper-hover span.ui-state-error:after {
	border-top-color: #CD0A0A;
	border-width: 10px;	
	margin-left: -124px;;
	left: 50%;
}
.wrapper-hover span.ui-state-error:before {	
	border-width: 13px;	
	margin-left: -13px;
	left: 50%;
}

.wrapper-hover {
  z-index:999999;
}
.accordion {
margin-bottom : 10px;
}
.ui-accordion div.ui-accordion-content {
	padding: 1em;
}
form .ui-accordion .ui-accordion-content {
  /*padding-bottom: 40px;*/
}
.ui-accordion-content div.content {
	padding-left: 1.5em;
}
ul.ui-tabs-nav li span.ui-icon {
  float: left;
  margin-top: 5px;
}
ul.ui-tabs-nav {
  height: 30px;
}
div.ui-datepicker {
	z-index: 99999;
}
body, .ui-widget {
  font: 12px "Trebuchet MS", sans-serif;
}
/***********************/
/* Portal VarPresenter */
/***********************/
dl {
  padding: 5px 0 5px 0;
  margin: 0;
}
dt {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0;
  padding: 0;
}

dl.checkboxWrapper dt {
	float: left;
}
.checkboxItem {
  margin-top: 5px;
  margin-bottom: 5px;
}
.checkboxItem label {
  position: relative;
  top: -3px;
  left: 1px;
}
dl.checkboxWrapper dd {
	margin-left: 2em;
	padding: 0;
}
dl span.input {
	display: block;
	width: 25em;
	min-height: 15px;
	padding: 0.5em;
	float: left;
	margin-right: 1em;
}
dl span.input ul, dl span.input ul li {
	margin: 0;
	padding: 0;
}
dl span.input ul li {
	margin-right: 1em;
}
.isDate {
	width: 7em;
}
table.radio tr.radioItem td {
  border: 0 !important;
  padding: 0 !important;
}
input.required, select.required {
	/*border: 1px solid #CD0A0A;*/
}
input:disabledForm,
select:disabledForm,
input[disabled],
select[disabled],
.disable,
.disabledForm
 {
  background-color: #F0F0F0;
  color: #404040;
	border: 1px solid #949494;
	border-top: 2px solid #666666;
	border-left: 2px solid #666666;
}

/*****************/
/* dl builder    */
/*****************/
dl.SingleRow dt {
	float:left;
	padding-right:10px;
	width : 140px;
}

dl.SingleRow dd {
	float:left;
	width : 50%;
}

dl.SingleRow {
	float:left;
	width : 100%;
}

dt.ItemTitle {
	font-weight : bold;
}

/*****************/
/* Portal Titles */
/*****************/
h3,
h3 a,
h3 a:active,
h3 a:visited,
h3 a:link
 {
	color: #1B285D;
}
#LeftPanel h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
h5 {
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}
h6 {
	font-size: 1em;
	margin: 1em 0 1em 0;
	border-bottom: 1px dotted black;
}
/****************/
/* Portal Print */
/****************/
body.NoBackground {
	background-color: white;
	background-image: none;
}
body.NoBackground h4 {
 	background-color: black;
 	color: white;
 	font-size: 1.4em;
	padding: 0.5em 0 0.5em 0; 	
}
/*****************/
/* Portal Tables */
/*****************/
.tableRow {
	width: 100%;
}
.tableRow tbody tr {
	cursor: pointer;
}
table tr:hover td {	
	background:#C4E9EF;
}

.tableRow .even, tr.even {	
	background-color: #FFFFFF;
}
.tableRow .odd, tr.odd {	
	background-color: #EFF2FC;
}

table.TablePresenter, table.CustomizedTablePresenter, .HTMLGeneratorContentWrapper table {
  	width: 100%;  
  	border-spacing:0;
  	border-left: 1px solid #DEDEDE;
  	border-top: 1px solid #DEDEDE;
  	border-bottom: 1px solid #DEDEDE; 
	background: url("../images/ui-bg_gloss-wave_100_e0e7eb_500x100.png") repeat scroll 0 0 #E0E7EB;
}

table.TablePresenter td, table.TablePresenter th, table.CustomizedTablePresenter td, table.CustomizedTablePresenter th,.HTMLGeneratorContentWrapper table th, .HTMLGeneratorContentWrapper table td {
  	padding: 4px;  
}

table.TablePresenter td, table.TablePresenter th, table.CustomizedTablePresenter td, table.CustomizedTablePresenter th, .HTMLGeneratorContentWrapper table td, .HTMLGeneratorContentWrapper table th {
	border-right: 1px solid #DEDEDE;
}

table.TablePresenter th, table.CustomizedTablePresenter th, .HTMLGeneratorContentWrapper th{	
	background: url("../images/bkg_tableHeader.png") repeat-x scroll 0 100% #585858;
	border-bottom: 1px solid #DEDEDE;
	color: #FFFFFF;
}

table.TablePresenter a,
table.TablePresenter a:active,
table.TablePresenter a:visited,
table.TablePresenter a:link {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;  
}

table.CustomizedTablePresenter th.RadioColumn, table.CustomizedTablePresenter td.RadioColumn{
	border-right:none;
	width:12px;
}
/****************************/
/*       CSS for types       *
/****************************/
table.CustomizedTablePresenter td.amount-col{
	text-align:right;
}

table.CustomizedTablePresenter td.date-col{
	text-align:center;
}

table.CustomizedTablePresenter td.time-col{
	text-align:center;
}

/****************************/
/* Portal Business Presenter*/
/****************************/
.TitleWrapper{
	height : 24px;
	padding:4px;	
}

.TitleWrapper .Title{			
	font-size: 1.2em;
	font-weight: bold;
  	color: #1B285D;	
}

.TitleWrapper .Title div{
	float:left;		
	padding-top: 2px;
	Border-Bottom: 1px solid #1B285D;
	width: 639px;		
}

.IconWrapper{
	height : 25px;
	width : 38px;
	background-position:left;
	background-repeat:no-repeat;	
	background-color:transparent;
	background: url("../images/default_title_icon_24.png") no-repeat;
	padding-right: 4px;
	float:left;
	margin-left: -4px;
}

.debugField {
  background: url("../images/debug.png") no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  cursor: pointer;  
}

.ui-buttonset .ui-state-active{
	color: #000000;
}


